/**
 * Two Column Content block editor css
 *
 * Only use this for basic styles
 */

[data-type="wbl/projects"] {

}

.editor-styles-wrapper .is-root-container .wbl-projects {
	box-shadow: inset 0 0 0 1px #DDD;
    overflow-y: hidden; /* Collapse vertical margin */

	/* @mixin is-page-content--wide;
	width: auto;*/

	&__inner {

	}
}

